img[data-v-7f5dd0a7]{height:100%;display:block}.fighting .img-box[data-v-7f5dd0a7]{height:224px;display:flex;justify-content:center}.fighting .ctnbox-box[data-v-7f5dd0a7]{display:flex;flex-wrap:wrap}
